.page_card .music {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form_wraper {
  display: block;
}
.table_wraper {
  margin-top: 10px;
}
.bx.bxs-check-circle {
  color: green;
}
.tabe_images {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.table_action {
  display: flex;
  justify-content: space-around;
}
.action_edit,
.action_delete {
  font-size: 20px;
  cursor: pointer;
}
.action_edit {
  color: #3899f8;
}
.action_delete {
  color: #fb3b1e;
}
.action_edit:hover,
.action_delete:hover {
  opacity: 0.5;
}
