@import url("./style/sidebar.css");
@import url("./style/navbar.css");
@import url("./style/analytics_card.css");
@import url("./style/home.css");
@import url("./style/dashboard.css");
@import url("./style/musics.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background: #f1f3f6;
}
body::-webkit-scrollbar {
  display: none;
}
.app {
  overflow: hidden;
}
.optionscard {
  padding: 5px;
  width: 250px;
}
.page_card {
  border-radius: 2px;
}
.breadCrumb {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0px;
  padding: 5px;
}
